<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <ul>
        <li><a href='/nuevo_banner'> Publicar Banner </a></li>
        <li><a href='/nuevo_anuncio'> Publicar Anuncio </a></li>
        <li><a href='/nuevo_clasificado'> Publicar Clasificado </a></li>
        <li><a href='/cerrar_sesion'> Cerrar Sesion </a></li>
    </ul>

    <form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
        {{formulario.titulo.label}}{{formulario.titulo}}
        {{formulario.tipo.label}}{{formulario.tipo}}
        {{formulario.descripcion.label}}{{formulario.descripcion}}
        {{formulario.imagen.label}}{{formulario.imagen}}


        <input type="submit"/>
    </form>

</body>
</html>