<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <ul>
        <li><a href='/nuevo_banner'> Publicar Banner </a></li>
        <li><a href='/nuevo_anuncio'> Publicar Anuncio </a></li>
        <li><a href='/nuevo_clasificado'> Publicar Clasificado </a></li>
        <li><a href='/cerrar_sesion'> Cerrar Sesion </a></li>
    </ul>

    <form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
        {{formulario.modelo.label}}{{formulario.modelo}}
        {{formulario.tipo_anuncio.label}}{{formulario.tipo_anuncio}}
        {{formulario.marca.label}}{{formulario.marca}}
        {{formulario.descripcion.label}}{{formulario.descripcion}}
        {{formulario.tipo_maquinaria.label}}{{formulario.tipo_maquinaria}}


        <input type="submit"/>
    </form>

</body>
</html>